body{

    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;

    text-align: center;
    padding: 50px;

}

img{

    width: 200px;
    height: 200px;

    border-radius: 50px;

}

h1{

    color: #3f3f3f;

}

p{

    color: #ff0000;

}

a{

    display: block;

    color: #252525cb;

    border-radius: 17px;
    border: 2px solid #3b3b3b6b;
    padding: 20px;
    margin: 25px;

    text-decoration: none;
    font-size: 20px;

}

a:hover{

    background-color: #46464621;
    
    border-color: #0000004f;
    border-radius: 25px;
    
    color: #0011ff7e;
    text-decoration-line:underline;

    transform: scale(1.0008, 1.0008);
    letter-spacing: 0.4.5px;
    box-shadow: 3px 5px 13px #0000004f;

    transition: 0.68s;

}



